{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Contact" %} - Chokdee Thai Massage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}

    <!-- CONTACT TITLE -->
    <div class="price-title">{% trans "Contact" %}</div>

    <!-- MAP -->
    <div class="map-wrapper">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2785.135838640763!2d17.186348!3d46.789773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476910dbf8eeab7b%3A0x8675b098e284fea4!2sChokdee%20Thai%20Massage%20in%20H%C3%A9v%C3%ADz!5e0!3m2!1sth!2hu!4v1721467100000!5m2!1sth!2hu"
            allowfullscreen=""
            loading="lazy">
        </iframe>
    </div>

    <!-- CONTACT INFO -->
    <div class="contact-info">

        <div class="contact-item">
            <img src="{% static 'images/address.png' %}" alt="{% trans 'Address' %}">
            <p>8380 HEVIZ RAKOCZI UTCA 10.</p>
        </div>

        <div class="contact-item">
            <img src="{% static 'images/email.png' %}" alt="{% trans 'Email' %}">
            <p><a href="mailto:amonrat12@live.com">amonrat12@live.com</a></p>
        </div>

        <div class="contact-item">
            <img src="{% static 'images/facebook.png' %}" alt="Facebook">
            <p>
                <a href="https://www.facebook.com/share/p/1Ban5g1PL1/" target="_blank">
                    https://www.facebook.com/
                </a>
            </p>
        </div>

        <div class="contact-item">
            <img src="{% static 'images/phone.png' %}" alt="{% trans 'Phone' %}">
            <p><a href="tel:+36305814854">+3630-5814854</a></p>
        </div>

    </div>

{% endblock %}
