{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Gallery" %} - Chokdee Thai Massage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block content %}


    <!-- TITLE -->
    <div class="gallery-title">{% trans "Gallery" %}</div>

    <div class="gallery-box">
        <div class="gallery-desc">
            {% trans "Workplace and shop environment photos" %}
        </div>

        <div class="gallery-grid">
            {% for img in images %}
                <img src="{{ img.image.url }}" alt="{{ img.title|default:'Gallery Image' }}">
            {% empty %}
                <p style="text-align:center;">{% trans "No images in the gallery yet." %}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
