{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "ราคาค่าบริการนวด" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/price.css' %}">
{% endblock %}

{% block content %}

    <div class="price-title">{% trans "ราคาค่าบริการนวด" %}</div>

    <div class="price-table-wrapper">
      <table class="price-table">
        <thead>
          <tr>
            <th>{% trans "ชื่อบริการ" %}</th>
            <th>{% trans "30 นาที" %}</th>
            <th>{% trans "60 นาที" %}</th>
            <th>{% trans "90 นาที" %}</th>
            <th>{% trans "120 นาที" %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{% trans "นวดไทย" %}</td>
            <td>6 000</td>
            <td>9 000</td>
            <td>15 000</td>
            <td>17 000</td>
          </tr>
          <tr>
            <td>{% trans "นวดน้ำมัน" %}</td>
            <td>6 000</td>
            <td>10 000</td>
            <td>17 000</td>
            <td>19 000</td>
          </tr>
          <tr>
            <td>{% trans "นวดเท้า" %}</td>
            <td>6 000</td>
            <td>9 000</td>
            <td>15 000</td>
            <td></td>
          </tr>
          <tr>
            <td>{% trans "นวดสมุนไพร" %}</td>
            <td></td>
            <td>15 000</td>
            <td>18 000</td>
            <td>22 000</td>
          </tr>
          <tr>
            <td>{% trans "นวดหลัง คอ ศีรษะ" %}</td>
            <td>6 000</td>
            <td>9 000</td>
            <td>15 000</td>
            <td></td>
          </tr>
          <tr>
            <td>{% trans "นวดไทย + น้ำมัน + สมุนไพร" %}</td>
            <td></td>
            <td></td>
            <td>25 000</td>
            <td>30 000</td>
          </tr>
        </tbody>
      </table>
    </div>

{% endblock %}