{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Team" %} - Chokdee Thai Massage{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/team.css' %}">
{% endblock %}

{% block content %}

  <!-- TITLE -->
  <div class="team-title">{% trans "Team" %}</div>

  <div class="team-box">
    <div class="team-grid">


      {% for e in employees %}
      <div class="team-card">
        {% if e.photo_url %}
          <img src="{{ e.photo_url }}" alt="{{ e.display_name }}">
        {% else %}
          <img src="{% static 'images/placeholder.png' %}" alt="{{ e.display_name }}">
        {% endif %}
        <div class="team-name">{{ e.display_name|upper }}</div>
      </div>
      {% empty %}
        <div>ไม่มีข้อมูลพนักงาน</div>
      {% endfor %}

    </div>
  </div>

{% endblock %}
